<header class="site-header">
  <div class="header-container">
    <a routerLink="/" class="logo">MyBlog</a>

    <nav class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
      <a routerLink="/posts" routerLinkActive="active">
        Posts
      </a>

      @if (authService.isLoggedIn()) {
      <button class="user-name btn btn-secondary" routerLink="/profile">Hi, {{ authService.currentUser()?.name }}</button>
      <button class="btn btn-secondary" (click)="logout()">Logout</button>
      } @else {
      <a routerLink="/login" class="btn btn-secondary">Login</a>
      <a routerLink="/register" class="btn btn-primary">Register</a>
      }
    </nav>
  </div>
</header>